@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-size: 16px;
  color: #c8d6e5;
  background-color: #576574;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100vw;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

section {
  width: 100%;
  height: 100%;
}

#form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: grid;
  margin-top: 1rem;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.input-container label {
  margin-right: 10px;
}

.input-container input {
  width: 100%;
  border: none;
  outline: none;
  color: #222f3e;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.meter_amount {
  opacity: 0;
  font-size: 0.9rem;
  visibility: hidden;
  transition: visibility 0s, opacity 0.3s linear;
}

.meter_amount span {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ff6b6b;
}

button {
  border: none;
  outline: none;
  color: #222f3e;
  margin-top: 2rem;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  background-color: #ff6b6b;
}

#hidden {
  opacity: 0;
}

#info {
  opacity: 0;
  display: flex;
  margin-top: 1rem;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  transition: visibility 0s, opacity 0.3s linear;
}

#info #total_units {
  margin-right: 1rem;
}

@media only screen and (min-width: 520px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
